[Desktop Entry]
Name=Byobu Terminal
Comment=Advanced Command Line and Text Window Manager
Icon=byobu
Exec=env TERM=xterm-256color byobu
Type=Application
Terminal=true
Categories=GNOME;GTK;Utility;
X-GNOME-Gettext-Domain=byobu
