[Desktop Entry]
Name=Byobu Window Manager
Comment=Text-based Window Manager using GNU Screen
Icon=/usr/share/byobu/pixmaps/byobu.svg
Exec=byobu-launcher
Type=Application
Terminal=true
Encoding=UTF-8
Categories=GNOME;GTK;Utility;
NoDisplay=true
