[Desktop Entry]
Name=Byobu Command Line
Comment=Advanced Command Line and Text Window Manager
Icon=byobu
Exec=byobu-launcher
Type=Application
Terminal=true
Categories=GNOME;GTK;Utility;
X-GNOME-Gettext-Domain=byobu
