<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>command</string>
				<string>tool</string>
				<string>sh</string>
				<string>screen</string>
				<string>tmux</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Byobu.icns</string>
			<key>CFBundleTypeName</key>
			<string>Terminal scripts</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folders</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Byobu</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0.0</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Byobu Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Byobu Help</string>
	<key>CFBundleIconFile</key>
	<string>Byobu.icns</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Byobu.icns</string>
				<string>Icon-72.png</string>
				<string>Icon-Small-50.png</string>
				<string>Icon-Small.png</string>
				<string>Icon@2x.png</string>
				<string>Icon.png</string>
				<string>Icon@2x.png</string>
				<string>iTunesArtwork</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Byobu</string>
        <key>CFBundleIdentifier</key>
        <string>co.byobu</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>ITRM</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>http URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>https URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>ftp URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ftp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>file URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>file</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>gopher URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gopher</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>mailto URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mailto</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>news URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>news</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>nntp URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nntp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>ssh URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>telnet URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>telnet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>wais URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wais</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>whois URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>whois</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>x-man-page URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-man-page</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSExtensions</key>
	<dict/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>ByobuApplication</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
