Source: screen-profiles
Section: misc
Priority: optional
Maintainer: Dustin Kirkland <kirkland@ubuntu.com>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 6.0), gettext, po4a
Homepage: http://launchpad.net/screen-profiles
Vcs-Bzr: http://bazaar.launchpad.net/~kirkland/screen-profiles/main

Package: screen-profiles
Architecture: all
Depends: debconf (>= 0.5) | debconf-2.0, screen, gettext-base, debianutils, python-newt
Recommends: update-notifier-common
Suggests: bc
Description: a set of useful profiles and a profile-switcher for GNU screen
 screen-profiles includes a set of profiles for the GNU screen window manager.
 These profiles are quite useful on server machines which are not running
 a graphical desktop.  The 'screen' command provides a number of advanced
 features are not necessarily exposed in the default profile.  These profiles
 provide features such as status bars, clocks, notifiers (reboot-required,
 updates-available), etc.  The profile-switcher allows users to quickly switch
 their .screenrc to any of the available profiles.
