#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

PACKAGE=screen-profiles
VER=`head -n 1 debian/changelog | sed 's/^.*(//' | sed 's/).*//' | sed 's/-.*//'`

get-orig-source:
	dh_testdir
	-[ -d ../${PACKAGE} ] && mv ../${PACKAGE} ../${PACKAGE}-${VER}
	tar -C ../ --exclude .bzr --exclude debian -zcvf ../${PACKAGE}_${VER}.orig.tar.gz ${PACKAGE}-${VER}

prebuild:
	cd po4a && po4a --no-backups po4a.conf

build:

clean:
	dh_clean debian/${PACKAGE} debian/files debian/${PACKAGE}.debhelper.log

install:build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_install -X.bzr

# Everything else is handled by dh_install

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs -X.bzr
	dh_installman screen-launcher.1 screen-profiles-helper.1 select-screen-profile.1
	dh_installchangelogs README
	dh_installdebconf
	dh_compress
	dh_fixperms
	dh_link /etc/screenrc usr/share/${PACKAGE}/profiles/plain
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary install prebuild get-orig-source

binary-arch:
