#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

PACKAGE=screen-profiles
TEXTDOMAIN=screen-profiles
VER=`head -n 1 debian/changelog | sed 's/^.*(//' | sed 's/).*//' | sed 's/-.*//'`

get-orig-source:
	dh_testdir
	-[ -d ../${PACKAGE} ] && mv ../${PACKAGE} ../${PACKAGE}-${VER}
	tar -C ../ --exclude .bzr --exclude debian -zcvf ../${PACKAGE}_${VER}.orig.tar.gz ${PACKAGE}-${VER}

update-pot:
	rm -f po/${TEXTDOMAIN}.pot
	grep -v "#" po/POTFILES.sh | while read po ; do \
	xgettext -o po/${TEXTDOMAIN}.pot -L Shell $${po} ; \
	done
	grep -v "#" po/POTFILES.python | while read po ; do \
	xgettext -o po/${TEXTDOMAIN}.pot -L Python $${po} ; \
	done

prebuild:

build:
	# auto-generate the logo'd light/dark profiles
	./profiles/generate

clean:
	dh_clean
	./profiles/generate --clean

install: build update-pot
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_install -X.bzr

# Everything else is handled by dh_install

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installdocs -X.bzr -i
	dh_installman -i screen-launcher.1 screen-profiles.1 select-screen-profile.1 motd+shell.1 screen-profiles-export.1
	dh_installchangelogs -i
	dh_installdebconf -i
	dh_compress -i
	dh_fixperms -i
	dh_link -i /usr/share/${PACKAGE}/profiles/ubuntu-light usr/share/${PACKAGE}/profiles/ubuntu
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary: binary-indep
.PHONY: build clean binary-indep binary install prebuild get-orig-source

binary-arch:
